<h1>New answer:</h1>

<%= form_with model: @answer, local: true do |form| %>

	<% if @answer.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@answer.errors.count, "error") %>
				prohibited this article from being saved:
			</h2>
			<ul>
				<% @answer.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= form.label :answer %>
		<%= form.text_field :answer %>
	</p>

	<p>
		<%= form.label :user_id %>
		<%= form.text_field :user_id %>
	</p>

	<p>
		<%= form.label :question_id %>
		<%= form.text_field :question_id, value: params[:question_id] %>
	</p>

	<p>
		<%= form.submit %>
	</p>

<% end %>